#grid {
    display: none;
}

#recherche{
    text-align: right;
}

#grid > p:nth-child(3) {
    text-align: center;
}   

.header-bloc-droite {
    display: flex;
    align-items: center;
}

.header-bloc-gauche {
    width: 100%;
    display: flex;
    align-items: center;
}

.header-bloc-gauche p{
    padding: 0px 1vw;
}

.menu-side{
    display: none;
}

.unhidden{
    display: block;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    margin: 0px;
}

header{
    font-weight: inherit;
    font-size: 20px;
    font-family: sans-serif;
}

header{
    display: flex;
    background-color: #F78D3F;
    position: relative;
    z-index: 1;
}

header img{
    display: block;
    height: 69px;
}

nav {
    display: flex;
    gap: 20px;
    padding: 0px 1vw;
}

@media (max-width : 750px) {
    #grid{
        display: grid;
        width: 100%;
        grid-template-columns: 20% 60% 20%;
    }
    .header-bloc-droite{
        display: none;
    }
    .header-bloc-gauche > p{
        display: none;
    }
    header img  {
        display: none;
    }
    nav p{
        display: none;
    }
}

.header {
    flex-direction: column;
    height: 100vh;
    width: 75%;
    align-items: center;
}

.nav {
    flex-direction: column;
}