h3{
    margin: auto;
    color: #0000008c;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

h2{
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: Roboto, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}
div{
    color: white;
}
#grid {
    display: none;
}

#recherche{
    text-align: right;
}

#grid > p:nth-child(3) {
    text-align: center;
}   

.header-bloc-droite {
    display: flex;
    align-items: center;
}

.header-bloc-gauche {
    width: 100%;
    display: flex;
    align-items: center;
}

.header-bloc-gauche p{
    padding: 0px 1vw;
}

.menu-side{
    display: none;
}

.unhidden{
    display: block;
}

a{
    text-decoration: none;
    color: inherit;
    font-family: Roboto, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

body{
    margin: 0px;
    background: #7977f1;
    background-image: linear-gradient(to top, #9b59b6, #7977f1);
    min-height: 100vh;

}

header{
    font-weight: inherit;
    font-size: 24px;
    padding: 10px;
    font-family: sans-serif; 
    display: flex;

}
header{ 
    display: flex;
    position: relative; 
    z-index: 1; }
header {
    color: white;
    letter-spacing: 10px;
    font-size: 24px;
    padding: 10px 5px;
    background-color: #f2f2f238;
    box-shadow: 2px 2px 9px black;
  } 

header img{
    display: block;
    height: 69px;
    border-radius: 50%;
}

nav {
    display: flex;
    gap: 20px;
    padding: 0px 1vw;
}

@media (max-width : 750px) {
    #grid{
        display: grid;
        width: 100%;
        grid-template-columns: 20% 60% 20%;
    }
    .header-bloc-droite{
        display: none;
    }
    .header-bloc-gauche > p{
        display: none;
    }
    header img  {
        display: none;
    }
    nav p{
        display: none;
    }
    header {
        font-size: 3vh;
    }
}

.header {
    flex-direction: column;
    height: 100vh;
    width: 75%;
    align-items: center;
}

.nav {
    flex-direction: column;
}
.effet{
    background-color: #80808000;
    opacity: 0.90;
    height: 85%;
    width: 85%;
    transition: 0.7s;
    color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;


}
.effet:hover {
    background-color: #9c59b650;
    border: solid #cfaadd;
    opacity: 0.90;
    height: 85%;
    width: 85%;
    color:white;
    font-size: small;
} 

#actu{
    background-color: rgba(255, 255, 255, 0.589);
    margin: 25px;
    border-radius: 5px;
    color: #9b59b6;
    border: thick double #9b59b6;
    width: 80vw;
}
#actu:hover{
    border: none;
    background-color: rgba(255, 255, 255, 0.822);
    opacity: 0.9;
    transition: all .5s ease-in;
    margin: 25px;
    border-radius: 5px; 
    border: thick double #9b59b6;
}
textarea:hover {
    border: none;
    background-color: rgba(255, 255, 255, 0.822);
    opacity: 0.9;
    transition: all .5s ease-in;
    margin: 25px;
    border-radius: 5px; 
    border: thick double #9b59b6;
}
textarea{
    border: none;
    background-color: rgba(255, 255, 255, 0.589);
    opacity: 0.9;
    transition: all .5s ease-in;
    border-radius: 5px;
    margin: 25px;
    border-radius: 5px; 
    border: thick double #9b59b6;
}
