body{
    text-align: center;
    background-image: linear-gradient(to top, #9b59b6, #7977f1);
    min-height: 100vh;
}

#carroussel{
    display: flex;
}

#liste{
    display: flex;
    justify-content: center;
    gap: 5vw;
    flex-wrap: wrap;
}

#liste > div {
    background-color: red;
    height: 150px;
    width: 150px;
    padding: 2%;
}

#liste-jeux{
    margin-right: 10vw;
    margin-left: 10vw;
}

.img-centre{
    max-width: 60vw;
    display: block;
    max-height: 90vh;
    position: relative;
    z-index: 1;
}

.img-cote{
    width: 100vw;
    background-image: url(../img/2.png);
}

section{
    margin: 5vh 0px;
}

#jeux2{
    background: url(../img/)
}


#img_jeux3{
    align-items: center;

}